@import "../../all";

.banner{
  position: relative;
  width: 100%;
  height: 589.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;

  .banner-title{
    font-size: 32px;
    width: 128px;
    height: 45px;
    color: #FFFFFF;
    z-index: 1;
  }
  .banner-text{
    font-size: 28px;
    width: 700px;
    height: 39px;
    color: #FFFFFFC7;
    z-index: 1;
    margin-top: 26px;
  }
  img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.about{
  width: 100%;
  height: 653px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  padding: 0px 90px;

  .about-img{
    width: 600px;
    height: 362px;
    margin-right: 96px;
  }
  .about-content{
    width: 499px;
    height: 362px;
    .title{
      font-size: 28px;
      font-weight: 700;
    }
    .sub-title{
      font-size: 19px;
      font-weight: 600;
      color: #415A77;
      margin-top: 12px;
    }
    .content{
      font-size: 20px;
      margin-top: 24px;
    }
    .more{
      width: 112px;
      height: 46px;
      background-color: #415A77;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-radius: 4px;
      margin-top: 44px;
    }
  }
}

.product{
  width: 100%;
  height: 649px;
  display: flex;
  justify-content: center;
  background-color: #F9F9F9;
  padding: 49px 90px 57px 90px;
  .content{
    width: 1195px;
  }
  .title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 17px;
    color: #415A77;
  }
  .description{
    font-size: 20px;
    margin-bottom: 56px;
  }
  .product-container{
    margin-bottom: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
      .product-block{
        position: relative;
        width: 381px;
        height: 236px;
        .product-img{
          width: 100%;
          height: 100%;
        }
        .product-content{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          display: none;
        }
        &:hover{
          .product-content{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            font-weight: 700;
            color: #FFFFFF;
            background-color: rgba(0,0,0,0.5);
          }
        }
      }
  }
  button.detail{
    width: 204px;
    height: 46px;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    border: none;
    &:hover{
      cursor: pointer;
    }
  }
}

.contact{
  width: 100%;
  height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  padding: 56px 0 71px 0;
  .title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 73px;
  }
  .input{
    height: 100%;
    .row{
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  button.confirm{
    width: 204px;
    height: 46px;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    border: none;
    margin-top: 16px;
    &:hover{
      cursor: pointer;
    }
  }
}
