.header{
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #FFFFFF;

}

.menubar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 36px;
  .tab{
    display: flex;
    width: 80px;
    height: 32px;
    padding: 2px;
    margin-right: 40px;
    text-decoration: none;
    color: #415A77;
    font-size: 19px;
    justify-content: center;
    align-items: center;
  }
}

