<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="汙水人孔蓋,防臭鑄鐵蓋,雨水人孔蓋,人孔蓋,鑄鐵蓋">
    <meta name="description"
          content="專業鑄造60餘年，提供道路人孔蓋、防臭鑄鐵蓋、汙水人孔蓋等產品，歡迎來電查詢。">
    <title>王發機械有限公司 | 人孔蓋、鑄鐵蓋</title>
</head>
<body>
    <div id="pageContainer">
        <div id="content-wrap">
            <div class="header"></div>
            <div class="about">
                <div class="title">關於王發</div>
                <div class="sub-title">豐富經驗 品質優先 專業團隊</div>
                <div class="content">自1978年成立以來，王發機械一直致力於為客戶提供卓越品質的鑄造產品，以鑄鐵蓋和污水蓋為專業領域。</div>
                <div class="content">我們以創新工藝、優越的品質控制和堅固耐用的產品聞名於業界。王發機械的鑄鐵蓋不僅是建築項目的基石，更是城市美學的一部分，為公共空間注入品味和保護。</div>
                <div class="content">憑藉多年的經驗，我們已建立起卓越的生產團隊，並擁有先進的生產設備，確保每一個產品都達到最高標準。王發機械以專業的技術和堅持品質的精神，贏得了客戶的信任與好評。</div>
                <div class="feature">
                </div>
            </div>
            <div class="achievements">
                <div class="title">工程實績</div>
                <div class="content">
                    <ol class="list">
                        <li>2023世界客家博覽會世界館(亞洲矽谷IOT展廳)統包工程</li>
                        <li>新北市板橋浮洲合宜住宅新建工程</li>
                        <li>桃園市政府楊梅區公所行政大樓雨汙水處理設施工程</li>
                        <li>台北市內湖七號公園附建地下停車場新建工程</li>
                        <li>新光南港軟體園區大樓主體新建工程-機電工程</li>
                        <li>南紡置地廣場開發案</li>
                        <li>桃園航空貨運園區新建工程(貨運站二期)</li>
                        <li>公館營區營舍整建統包工程</li>
                        <li>台北市南港區南港國小校舍新建工程</li>
                        <li>國立臺灣師範大學-公館校區學七舍生活污水處理設備改善工程</li>
                        <li>台北市信義區六張犁營區A,B街廓基地公共住宅統包工程</li>
                        <li>國立政治大學第二學人宿舍及國際學生暨研究生宿舍興建工程</li>
                        <li>廣慈博愛園區開發計畫C標統包工程</li>
                        <li>新莊頭前消防局案</li>
                        <li>國立台灣師範大學林口校區資訊與教學大樓新建工程</li>
                        <li>臺灣桃園地方法院擴遷建辦公廳舍及檔證大樓新建工程(水電工程)</li>
                        <li>左營高鐵開發附屬事業大樓</li>
                        <li>左營高鐵開發附屬事業大樓</li>
                        <li>中壢第一公有零售市場新建工程</li>
                        <li>高雄2009世運館</li>
                    </ol>
                    <ol class="list">
                        <li>中壢第一公有零售市場新建工程</li>
                        <li>新北市中正橋派出所及青年社會住宅接續工程</li>
                        <li>中國醫藥大學水湳校區生醫產學研發大樓</li>
                        <li>COSTCO台中店新建工程</li>
                        <li>坤福營造台南縣湯山新村新建工程</li>
                        <li>桃園農田水利會整修機電工程</li>
                        <li>弘益建設桃園市三元段(一品國硯)</li>
                        <li>川和發建設股份有限公司(百川大喆)</li>
                        <li>竹城建設股份有限公司(橫綱二期-竹城大和)</li>
                        <li>竹城建設股份有限公司(公埔段-竹城富良野)</li>
                        <li>國立政治大學第二國際學生宿舍新建工程</li>
                        <li>碧潭有約新建工程-第一期住宅污水處理廠工程</li>
                        <li>碧潭有約新建工程-第二期商場污水處理廠工程</li>
                        <li>樂群新村新建工程</li>
                        <li>美喆國際企業臺南科技工業區廠房新建工程</li>
                        <li>新北市中正橋派出所及青年社會住宅接續工程</li>
                        <li>民生立體停車場整修工程</li>
                        <li>國立台灣大學環境研究大樓新建工程</li>
                        <li>國立臺灣師範大學附屬高級中學明德樓統包</li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>