<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="汙水人孔蓋,防臭鑄鐵蓋,雨水人孔蓋,人孔蓋,鑄鐵蓋">
    <meta name="description"
          content="專業鑄造60餘年，提供道路人孔蓋、防臭鑄鐵蓋、汙水人孔蓋等產品，歡迎來電查詢。">
    <title>王發機械有限公司 | 人孔蓋、鑄鐵蓋</title>
</head>
    <body>
        <div id="pageContainer">
            <div id="content-wrap">
                <div class="header"></div>
                <div class="contact">
                    <div class="title">聯絡我們</div>
                    <div class="sub-title">歡迎洽詢各式產品或客製化解決方案，我們將盡快回覆您</div>
                    <div class="description">
                        <div class="description-text">電話
                            <div class="description-text-info">(02)2694-5249</div>
                        </div>
                        <div class="description-text">行動電話
                            <div class="description-text-info">0932-022737</div>
                        </div>
                        <div class="description-text">傳真
                            <div class="description-text-info">(02)2693-5200</div>
                        </div>
                        <div class="description-text">E-mail
                            <div class="description-text-info">wang.fa@msa.hinet.net</div>
                        </div>
                    </div>

                        <div class="input-wrap">
                            <div class="inputBlock">
                                <div class="row name">
                                    <label class="name_label" for="name_input">姓名</label>
                                    <input type="text" id="name_input">
                                </div>
                                <div class="row email">
                                    <div class="text">電子郵件</div>
                                    <input type="email" id="email_input">
                                </div>
                                <div class="row phone">
                                    <label class="phone_label" for="phone_input">聯絡電話</label>
                                    <input type="number" id="phone_input">
                                </div>
                            </div>

                            <div class="inputBlock2">
                                <div class="row content">
                                    <label class="content_label" for="content_input">內容</label>
                                    <textarea id="content_input"></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="confirm">送出</button>
                    </div>
                </div>
                <div class="footer"></div>
            </div>
        </body>
        </html>