<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="汙水人孔蓋,防臭鑄鐵蓋,雨水人孔蓋,人孔蓋,鑄鐵蓋">
    <meta name="description"
          content="專業鑄造60餘年，提供道路人孔蓋、防臭鑄鐵蓋、汙水人孔蓋等產品，歡迎來電查詢。">
    <title>王發機械有限公司 | 人孔蓋、鑄鐵蓋</title>
</head>
    <body>
        <div id="pageContainer">
            <div id="content-wrap">
                <div class="header"></div>
                <div class="contact">
                    <div class="title">聯絡我們</div>
                    <div class="input">
                        <div class="row">
                            <div class="text">姓名</div>
                        </div>
                        <div class="row">
                            <div class="text">電子郵件</div>
                        </div>
                        <div class="row">
                            <div class="text">聯絡電話</div>
                        </div>
                        <div class="row">
                            <div class="text">內容</div>
                        </div>
                    </div>
                    <button class="confirm">送出</button>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>