<!DOCTYPE html>

<html lang="zh" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="汙水人孔蓋,防臭鑄鐵蓋,雨水人孔蓋,人孔蓋,鑄鐵蓋">
  <meta name="description"
        content="專業鑄造60餘年，提供道路人孔蓋、防臭鑄鐵蓋、汙水人孔蓋等產品，歡迎來電查詢。">
  <title>王發機械有限公司 | 人孔蓋、鑄鐵蓋</title>
</head>

<body>
  <div id="pageContainer">
    <div id="content-wrap">
      <div class="header"></div>
      <div class="banner">banner</div>
      <div class="about">
        <img class="about-img">
        <div class="about-content">
          <div class="title">關於王發</div>
          <div class="content">自1978年創立以來，王發機械一直以卓越的品質和創新的技術聞名。專注於生產防臭式鑄鐵蓋的公司，致力於為城市基礎建設提供可靠、耐用的解決方案。探索我們的產品和服務，了解如何在您的項目中選擇最可靠的鑄鐵蓋，提升城市品質，打造更美好的生活。歡迎致電洽詢！</div>
        </div>
      </div>
      <div class="product">
        <div class="title">產品介紹</div>
        <div class="description">各式鑄鐵蓋、污水蓋</div>
        <div class="product-container"></div>
        <button class="detail">查看完整商品內容</button>
      </div>
      <div class="contact">
        <div class="title">聯絡我們</div>
        <div class="input">
          <div class="row">
            <div class="text">姓名</div>
          </div>
          <div class="row">
            <div class="text">電子郵件</div>
          </div>
          <div class="row">
            <div class="text">聯絡電話</div>
          </div>
          <div class="row">
            <div class="text">內容</div>
          </div>
        </div>
        <button class="confirm">送出</button>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</body>

</html>

